.standings-wrapper {
  display: flex;
  font-size: 0.7em;

}

.standings-table table {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  padding: 1rem;
  margin-left: 20%;
  margin-right: 5%;

}

.standings-table th,
.standings-table td {
  padding: 0.5rem;
  font-size: 11px;
}

.standings-table th:first-child,
.standings-table td:first-child {
  width: 25%;
  text-align: left;
}

.standings-table th:not(:first-child),
.standings-table td:not(:first-child) {
  width: 5%;
}

.standings-table h2{
  color: #3E9FCA;
  text-align: center;
}
  

  
  
